<h1>Edit Recipe</h1>

<form action="/recipes/<%= @recipe.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <div>
    Title: <input type="text" name="title" value="<%= @recipe.title %>">
  </div>
  <div>
    Ingredients: <input type="text" name="ingredients" value="<%= @recipe.ingredients %>">
  </div>
  <div>
    Directions: <input type="text" name="directions" value="<%= @recipe.directions %>">
  </div>
  <div>
    Image Url: <input type="text" name="image_url" value="<%= @recipe.image_url %>">
  </div>
  <div>
    Prep Time: <input type="number" name="prep_time" value="<%= @recipe.prep_time %>">
  </div>
  Created by: 
  <select name="user_id" id="">
    <% User.all.each do |user| %>
      <option value="<%= user.id %>"><%= user.name %></option>
    <% end %>
  </select><br>
  <input type="submit" value="Edit Recipe">
</form>
